@{
    Layout = "~/Views/Shared/_LayoutBusinessOwner.cshtml";
}

@model RouteScheduler.Logic.EventsHolder



@{
    ViewBag.Title = "Details";
}
<div class="body-content bg-light">
    <br />
    <h2>Details</h2>

    <div>
        <h4>Your details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

        </dl>
        <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

    </div>
    <p>
        @Html.ActionLink("Home", "Index")
    </p>
</div>