<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px;
            width: 100%;
            background-color: grey;
        }
    </style>
</head>
<body>


    <div id="map">

    </div>
    <script type="text/javascript">

        var markers = [
            ['Waukesha', 43.011677, -88.231483],
            ['Sussex', 45.723438, -65.510872],
            ['UWM', 43.077980, -87.881813],
            ['Marquette', 43.038223, -87.929756],
            ['Menomonee Falls', 43.178871, -88.117249],
            ['Oak Creek', 42.885151, -87.908340]
        ];

        var infoWindow = new google.maps.InfoWindow(), marker, i;

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

                function initMap() {
            var location = { lat: 43.03, lng: -87.906 };
            var icon = {
                url: '../../Content/paw.jpg',
                scaledSize: new google.maps.Size(50, 50)
            }
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: location
            });

            for (i = 0; i < markers.length; i++) {
                console.log("Marker Placement initiated");
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);

                marker = new google.maps.Marker({
                    position: position,
                    map: map,

                    icon: icon,
                    animation: google.maps.Animation.BOUNCE
                });
            }
        }



    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
</body>
</html>