@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Routlette</h1>
        <p class="lead">We do the work so your scheduling isn't left up to chance.</p>
        <hr class="my-4">
        <p>A locations-based scheduling application that takes the guessing out of scheduling clients for your business. Never again need to guess at where you're driving on what days; our system does all that for you.</p>
        <p class="lead">
            <a class="btn btn-outline-secondary" href="#" role="button">Learn more</a>           
        </p>
    </div>
</div>