@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Schedule Routlette</h1>
        <p class="lead">A newer, better way to schedule.</p>
        <hr class="my-4">
        <p>Do things, do more things.Do things, do more things.Do things, do more things.Do things, do more things.Do things, do more things.Do things, do more things.</p>
        <p class="lead">
            <a class="btn btn-outline-secondary" href="#" role="button">Learn more</a>           
        </p>
    </div>
</div>